/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2015, 1:08:32 PM
    Author     : monir
*/

body {
font-family: 'Crimson Text', serif;
 letter-spacing: 2px;
 font-size: 15px;
}

h1 {
	font-size: 24px;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover {
	color: #E0585E;
}

.main-content {
	min-height: 500px;
}


.navbar {
	margin-bottom: 10px;
	border-bottom: 2px solid #000;
}

.navbar {
	background:  transparent;
}


.navbar h1{
	font-size: 19px;
}

.navbar a{
	font-size: 14px;
}

.nav > li > a:hover{
    background-color:#000;
}

.banner{
	margin-top: 60px;
	
}  

.top-nav-collapse {
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
}

.top-nav-collapse a{
	color: #fff;
}

.top-nav-collapse ul li:hover {
  background: #000;
}

.about {
	margin-top: 10px;
}   
.prof img{
	height: 20%;
	width: 20%;
	text-align: center;

	margin-bottom: 10px;
    border-radius: 60%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

 .portfolio-social {
 	border-bottom: 2px solid #000;
 	height: 100px;
 }

.activities {
 
}

 .activities a {
 	color:#000;
 	text-decoration: none;
 }

 .activities a:hover {
 	color: #E0585E;
 }

 .social {
 	padding-right: 5px;
 }

 .activities-heading {
 	margin-bottom: 20px;
 }   

/* Portfolio */
.portfolio h2{
	margin-bottom: 30px;
}
.portfolio img{
 
 padding: 10px;
 height: 80%;
 width: 80%;

}

.portfolio a:hover{
	color: #000;
}

.sites {
	margin-top: 15px;
}

.sites a {
	color: #E0585E;
}



footer{
   margin-top: 25px; 
}
