/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2015, 1:08:32 PM
    Author     : monir
*/

body {
 
}

a{
    text-decoration: none;
}

.banner{
    background-color: #4CAF50;
   
    
}
.jumbotron {
    background:transparent !important;
 color: #FFF !important;
}

#carousel-example-generic{
   margin-top: -60px;
}


.carousel-indicators {
	bottom: 0;
}

.carousel-control.right{
    margin-left: 0px !important;
}

.carousel-caption{
    
}

.carousel-caption h2 a{
    font-size: 60px;
    color:#388E3C;
    text-decoration: none;
    
}

.carousel .carousel-control { visibility: hidden; }
.carousel:hover .carousel-control { visibility: visible; }

.carousel-control.right,
.carousel-control.left {
	background-image: none;
}
.carousel .item {
	min-height: 350px; 
	height: 100%;
	width:100%; 
}
.carousel-caption h3,
.carousel .icon-container,
.carousel-caption button {
	
}
.carousel-caption h3 {
	padding: .5em;
}
.carousel .icon-container {
	display: inline-block;
	font-size: 25px;
	line-height: 25px;
	padding: 1em;
	text-align: center;
	
	border-radius: 50%;
}
.carousel-caption button {
	border-color: #00bfff;
	margin-top: 1em; 
}

/* Animation delays */
.carousel-caption h3:first-child {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
.carousel-caption h3:nth-child(2) {
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}
.carousel-caption button {
	-webkit-animation-delay: 3s;
	animation-delay: 3s;
}

.articles {
    margin-top: 15px;
}


.panel{
    margin:  15px;
}


footer{
    background-color: #999999;
}